@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,600;1,500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@500&display=swap");

body {
  display: block;
  margin: 0;
}
.link {
  color: white;
  width: 100%;
}
.App {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  background: linear-gradient(#081221, #03080f);
  min-height: 975px;
}
h1,
h2,
label,
button,
p {
  font-family: "Mulish", sans-serif;
}
.navbar {
  padding: 0;
  position: fixed;
  top: 0;
  width: 100%;
  height: 180px;
  background-color: #081221;
  z-index: 2;
}
@media only screen and (max-width: 615px) {
  .navbar {
    height: 220px;
  }
  .navbar ul {
    margin: 60px 0 !important;
  }
  .main {
    margin-top: 220px !important;
  }
  .shadow1 {
    left: 29px !important;
  }
  .shadow2 {
    left: 29px !important;
    top: 140px !important;
  }
}
.navbar ul {
  display: flex;
  margin: 60px;
  flex-wrap: wrap;
}
.navbar ul li {
  margin: 25px 30px;
  font-size: 27px;
}
input {
  width: 100%;
}
.row {
  display: grid;
  flex-wrap: wrap;
  justify-content: flex-end;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .row {
    display: flex;
    flex-wrap: wrap;
  }
  /* button {
    flex-grow: 1;
  } */
}
@media only screen and (max-width: 670px) {
  /* For mobile phones: */

  /* .row button,
  input,
  select {
    flex-grow: 1;
  } */
}
.card {
  background: #0e1a2b;
  color: #c1d1e8;
  padding: 20px;
  margin-bottom: 15px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  font-family: "Mulish", sans-serif;
}
.contact-card {
  background: #0e1a2b;
  color: #c1d1e8;
  padding: 20px;
  font-family: "Mulish", sans-serif;
}
.shadow1 {
  z-index: -1;
  font-size: 60px;
  position: absolute;
  color: #112d49;
  left: 122px;
  top: 70px;
}
.shadow2 {
  z-index: -1;
  font-size: 60px;
  position: absolute;
  color: #112d49;
  left: 377px;
  top: 70px;
}
.filter {
  background: #0e1a2b;
  height: fit-content;
  padding: 20px;
}
.main {
  margin-top: 180px;
  margin-right: 120px;
  margin-left: 120px;
}
.score {
  margin: 35px 0;
}

@media only screen and (max-width: 1280px) {
  /* For mobile phones: */
  .main {
    margin-top: 180px;
    margin-right: 10px;
    margin-left: 10px;
  }
  .row {
    display: flex;
    justify-content: space-between;
    /* align-items: flex-end; */
  }
  .score {
    margin: 0 !important;
  }
}
button {
  height: 38px;
}
.select {
  width: auto;
  z-index: 1;
}

@media only screen and (max-width: 671px) {
  /* For mobile phones: */
  .row {
    display: flex;
    flex-direction: column;
  }
  button,
  .select,
  .score {
    width: 100%;
  }
  button {
    margin-top: 15px !important;
  }
  .score {
    margin: 35px 0 !important;
  }
}
.active-page {
  background-image: none;
}
.title {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  margin: 0;
}
.summary {
  font-family: "Mulish", sans-serif;
  margin-top: 20px;
}
.rating {
  background-color: #5692e8;
  border-radius: 50%;
  width: fit-content;
  height: fit-content;
  padding: 10px 12px;
  color: white;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  margin: 25px;
  font-size: 25px;
}

input {
  background: #182c47;
  border: 0;
  padding: 9px;
  height: 38px;
  color: #c1d1e8;
}
input::placeholder {
  color: #c1d1e8;
}
button {
  background: #5692e8;
  border: 0;
  color: white;
  padding: 10px 20px;
  float: right;
  cursor: pointer;
}
ul {
  list-style-type: none;
}
li {
  color: white;
}

.ui.selection.dropdown > .delete.icon,
.ui.selection.dropdown > .dropdown.icon,
.ui.selection.dropdown > .search.icon {
  font-size: 22px;
  margin: -32px !important;
  color: white;
}
.ui.selection.dropdown {
  background: #182c47 !important;
  border-radius: 0 !important;
}
.ui.selection.active.dropdown .menu {
  background: #182c47 !important;
}
.ui.default.dropdown:not(.button) > .text,
.ui.dropdown:not(.button) > .default.text {
  color: #c1d1e8 !important;
}
::selection {
  color: #c1d1e8 !important;
}
.ui.selection.dropdown .menu > .item {
  border-top: 0 !important;
}
.ui.dropdown .menu > .item {
  color: #c1d1e8 !important;
}
.ui.dropdown > .text,
.ui.dropdown .menu > .item {
  color: #c1d1e8 !important;
}
.ui.selection.active.dropdown,
.ui.selection.active.dropdown .menu {
  border: 0;
}
.ui.selection.dropdown:focus {
  border: 0;
}
form {
  padding-top: 250px;
  text-align: -webkit-center;
}
form label {
  text-align: left !important;
}
textarea {
  width: 100%;
  background: #182c47;
  border: 0;
  padding: 9px;
  color: #c1d1e8;
}
.required:after {
  content: " *";
  color: #5692e8;
}
.text {
  text-align: left;
  margin-bottom: 25px;
}
